.dining-menu {
  //background-color: white;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  @include breakpoint(745px down) {
    flex-direction: column;
  }
}

.dining-menu_left {
  width: 45%;
  position: relative;
}

.dining-menu_right {
  width: 55%;
}

.dining-menu_left, .dining-menu_right {
  display: flex;
  flex-direction: column;
  @include breakpoint(745px down) {
    width: 100%;
  }
}
