#contact div.cell:nth-child(2) { //selects the map + contact info box
  padding: 0;
}

#map {
  width: 100%;
  height: 400px;
  background-color: gray;
}

.contact-container {
  position: relative;
}

.contact-box {
  position: absolute;
  width: 28%;
  left: 0;
  top: 2%;
  span {
    display: block;
  }
  @include breakpoint (745px down) { //move under map on smaller screen
    position: static;
    width: 95%;
    margin: 1rem auto;
  }
}
